* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background-image: url(./img/background.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  font-size: 1.5rem;

  flex-direction: column;
}
.container {
  display: flex;
}
.container div {
  margin: 3rem 7rem;
}
div p {
  font-weight: bold;
  font-size: 4rem;
}
div span {
  font-size: 1rem;
  font-weight: 600;
}
